Repository ResidenciaTICBrisa/06_AcompanhamentoEnsinoMedio, pull requests merged in 2023-10, with the labels that each got.

#65 Adicionando melhoria na header
  src/frontend/package-lock.json
  src/frontend/package.json
  src/frontend/src/App.js
  src/frontend/src/components/button_upload/ButtonUpload.css
  src/frontend/src/components/button_upload/ButtonUpload.js
  src/frontend/src/components/header/Header.css
  src/frontend/src/components/header/Header.js
  src/frontend/src/components/logged/log.css
  src/frontend/src/components/logged/log.js
  src/frontend/src/img/add_document.png
  src/frontend/src/img/instituicao.png
  src/frontend/src/img/logo_completa.png
  src/frontend/src/index.js
  src/frontend/src/pages/Home/Home.js
  src/frontend/src/pages/consulta/Consulta.css
  src/frontend/src/pages/consulta/Consulta.js
  src/frontend/src/pages/feedback/Feedback.css
  src/frontend/src/pages/feedback/Feedback.js
  src/frontend/src/pages/grafico/Grafico.css
  src/frontend/src/pages/grafico/Grafico.js
  src/frontend/src/pages/predicao/Predicao.css
  src/frontend/src/pages/predicao/Predicao.js
Labels: FrontEnd

#69 adicionando pagina de login e alteracoes da header em todas as paginas
  src/backend/main.py
  src/frontend/package-lock.json
  src/frontend/package.json
  src/frontend/src/App.css
  src/frontend/src/App.js
  src/frontend/src/components/logged/log.js
  src/frontend/src/img/em-andamento.png
  src/frontend/src/img/login_img.png
  src/frontend/src/index.js
  src/frontend/src/pages/cadastro/Cadastro.js
  src/frontend/src/pages/cadastro/cadastro-aluno-novo/CadastroAlunoNovo.js
  src/frontend/src/pages/cadastro/cadastro-aluno/CadastroAluno.js
  src/frontend/src/pages/cadastro/cadastro-instituicao-novo/CadastroInstituicaoNovo.js
  src/frontend/src/pages/cadastro/cadastro-intituicao/CadastroInstituicao.js
  src/frontend/src/pages/consulta/Consulta.js
  src/frontend/src/pages/consulta/consulta-aluno/ConsultaAluno.js
  src/frontend/src/pages/consulta/consulta-instituicao/ConsultaInstituicao.js
  src/frontend/src/pages/contato/Contato.css
  src/frontend/src/pages/contato/Contato.js
  src/frontend/src/pages/home/Home.js
  src/frontend/src/pages/login/Login.css
  src/frontend/src/pages/login/Login.js
  src/frontend/src/pages/predicao/Predicao.js
  src/frontend/src/pages/saiba_mais/SaibaMais.css
  src/frontend/src/pages/saiba_mais/SaibaMais.js
  src/frontend/src/services/PessoaService.js
Labels: FrontEnd, BackEnd

#74 conserto bugs do jupyter notebbok
  src/ML/student-perfomance .ipynb
Labels: US
